<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text">
            <name>test_secret_key</name>
            <label lang="de">Test Secret Key</label>
            <label lang="en">Test Secret Key</label>
        </element>
        <element required="true" type="text">
            <name>live_secret_key</name>
            <label lang="en">Live Secret Key</label>
            <label lang="de">Live Secret Key</label>
        </element>
        <element required="true" type="boolean">
            <name>testmode</name>
            <label lang="de">Testmode Aktiviert</label>
            <label lang="en">Test Mode</label>
            <value>0</value>
        </element>
        <element type="select" scope="locale">
            <name>language</name>
            <label lang="de">Language</label>
            <label lang="en">Language</label>
            <store>
                <option>
                    <value>en-US</value>
                    <label>English</label>
                </option>
                <option>
                    <value>da-DK</value>
                    <label>Danish</label>
                </option>
                <option>
                    <value>sv-SE</value>
                    <label>Swedish</label>
                </option>
                <option>
                    <value>nb-NO</value>
                    <label>Norwegian</label>
                </option>
                <option>
                    <value>de-DE</value>
                    <label>German</label>
                </option>
            </store>
        </element>
        <element required="true" type="boolean">
            <name>chargenow</name>
            <label lang="de">Autocaoture </label>
            <label lang="en">Autocapture </label>
            <value>0</value>
        </element>
        <element required="true" type="text">
            <name>terms_and_conditions_url</name>
            <label lang="en">Terms and conditions url</label>
            <label lang="de">Terms and conditions url</label>
        </element>
    </elements>
</config>